html,
body {
    height     : 100%;
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ============================ Header containers ============================ */
#headerContainer {
    background-color: white;
    display         : flex;
}

#headerImgContainer {
    display   : inline-block;
    flex      : 1;
    text-align: center;
    padding   : 1rem 0 0.5rem 0;
}

#headerMenuContainer {
    background-color: rgb(0, 83, 159);
    flex            : 4;
}

#headerBtnsContainer {
    background-color: rgb(0, 83, 159);
    display         : flex;
    justify-content : end;
}

/* ============================ Header buttons ============================ */
#headerAllPrds {
    display         : flex;
    background-color: rgb(0, 83, 159);
    height          : 100%;
    align-items     : center;
}

#headerBtnsContainer>div>img {
    filter        : invert(100%);
    height        : 1.5rem;
    vertical-align: middle;
    margin-left   : 1rem;
    margin-right  : 0.5rem;
}

#headerBtnsContainer>div>* {
    display    : inline-block;
    align-items: center;
}

#headerBtnsContainer>div>p {
    margin-right: 1rem;
}

#headerBtnsContainer>div {
    color: white;
}

#headerClient {
    background-color: rgb(219, 151, 54);
}

#headerSiclik {
    background-color: rgb(103, 148, 60);
}

#headerSupport {
    background-color: rgb(190, 14, 29);
}

#headerCart {
    background-color: rgb(76, 122, 170);
}

#headerProfile {
    background-color: rgb(187, 16, 28);
    align-items     : center;
    display         : flex;
}

.headerBtn:hover {
    filter: brightness(85%);
    cursor: default;
}

/* ============================ Header input ============================ */
#searchContainer {
    background-color: rgb(73, 122, 171);
    padding         : 1.5rem 1rem 1.5rem 1rem;
    display         : flex;
}

#searchProduct {
    width       : 90%;
    padding-left: 1rem;
}

#searchProduct::placeholder {
    color    : lightgrey;
    font-size: large;
}

#searchBtn {
    background-color: rgb(0, 83, 159);
    color           : white;
    width           : 10%;
    text-align      : center;
    border-width    : 5rem;
    border-color    : black;
}

/* ============================********** Body block **********============================ */
/* ============================ Body containers ============================ */

#bodyContainer {
    display: flex;
    height : 100%;
    width  : 80%;
    margin : auto;
}

#titleContainer {
    width: 100%;
}

#titleFirstRow {
    display: flex;
    width  : 100%;
}

#subscriptionConateiner {
    font-size  : xx-large;
    font-weight: 700;
    flex       : 4;
}

#filterContainer {
    flex : 1;
    color: lightgrey;

}

#filterInput {
    width       : 100%;
    border-color: rgb(198, 198, 198);
    border-width: 2px;
    color       : rgb(198, 198, 198);
    padding     : 0.5rem;
}